@model KidsAcademy.Models.ViewModels.User.ParentProfileVM

@{ 
    ViewBag.Title = "Profile Page";
}

<h2>Профилна страница: </h2>

<h3>Име: @Html.DisplayFor(vm => vm.FirstName)</h3>
<h3>Email: @Html.DisplayFor(vm => vm.Email)</h3>

<br/>

@foreach (var kid in Model.Kids)
{
    <span class="kid-name">
        @Html.DisplayFor(vm => kid.FirstName)
    </span>

<table class="table table-striped" >
    <tr>
        <th>Предмед</th>
        <th>Оценка</th>
    </tr>

    @foreach (var subcourse in kid.SubCoursesGrades)
    {
        <tr>
            <td>@Html.DisplayFor(vm => subcourse.Name)</td>
            <td>@Html.DisplayFor(vm => subcourse.Grade)</td>
        </tr>
    }
</table>
}


@Html.ActionLink("Начало", "Index", "Home");
